.body{
  height: 100%;
  background: linear-gradient(to bottom left, #75daad,#323edd, #f35588);
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.container{
  padding-top: 50px;
}
.heading{
  text-align: center;
}
.card{
  text-align: left;
  padding: inherit;
  padding: 50px;
  background-color: white;
  max-width: 400px;
  margin: auto;
}
